<%= form_for @setlist do |form| %>

  <!-- error messages -->
  <% if @setlist.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@setlist.errors.count, "error") %> prohibited this setlist from being saved</h2>

    <ul>
      <% @setlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- start of form for making a blog -->
  <div class="form-group">
    <div class="field-title">
      <%= f.label :title, "What is the name of your trip?" %>
      <%= f.input :title, class: "form-control"%>
    </div>
  </div>

  <%= f.button :submit %>

<% end %>
