<!DOCTYPE html>
<html>
  <head>
    <title>Getlistv2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-right">
          <% if current_user %>
              Hello <%= current_user.name %>
              <%= link_to "Log Out", session_path("current"), method: "delete" %>
          <% end %>
        </div>
      </div>
    </div>

      <%= yield %>
    
  </body>
</html>
